<%= form_tag do %>
  <div class="form_container">
    <div class="input_item">
      Email:<br />
      <%= text_field_tag :email, params[:email] %>
    </div>
     
    <div class="input_item">
      Password:<br />
      <%= password_field_tag :password, params[:password] %>
    </div>
     
    <div class="form_controls">
      <%= submit_tag "Login" %>
      <div class="separator">&nbsp;</div>
      If you don't have an existing account, <%= link_to "Register", new_user_path %>
    </div>
  </div>
<% end %>