<h1>Daily Calorie Intake Suggestion</h1>

<br><p style="font-size:160%">Disclaimer:</p>

 <p>This calculator does not take into consideration any amount
 of exercise that you may do as part of your daily routine.
 The calculated value is merely a suggestion and does not guarantee
 that you will hit your target weight in a given time frame.</p>
 
<br><%= link_to 'Back to Profile', current_user %>

<br><br>

<p style="font-size:160%">Metric</p>

<%= form_tag(cal_metric_calorie_calc_index_path) do %>

  <div class="input_item"> 
      Current Calorie Intake(cal):</br> 
      <%= number_field_tag "cal", nil, min: 1, required: true %>
  </div>

  <div class="input_item"> 
      Current Weight(kg):</br> 
      <%= number_field_tag "curr", nil, min: 1, required: true %>
  </div>
  
  <div class="input_item"> 
      Target Weight(kg):</br> 
      <%= number_field_tag "targ", nil, min: 1, required: true %>
  </div>
  
  <div class="input_item"> 
      Number of Days:</br> 
      <%= number_field_tag "days", nil, min: 1, required: true %>
  </div>
  
  <div class="form_controls">
      <%= submit_tag 'Calculate' %>
  </div>

<% end %>

<br>

<% if @result.blank? %>

<% else %>

  <% if @targ_weight >= @curr_weight %>
  
    <% if @result-@cal > 3300 %>
    
      <p>That goal is unrealistic. You are trying to gain too much weight in too short a time.</p>
      
    <% else %>
    
    <p>The suggested daily calorie intake is +<ins><%= sprintf("%.1f" % @result) %></ins> calories of your current daily calorie intake.</p>
    <p>You are currently eating <ins><%= @cal %></ins> calories per day, you are suggested to eat <ins><%= sprintf("%.1f" % (@cal+@result)) %></ins>
    calories per day over the next <ins><%= @days %></ins> days to hit your target weight of <ins><%= @targ_weight %></ins> kg.</p>
    
    <% end %>
    
  <% else %>
  
    <% if @cal-@result < 1100 %>
    
      <p>That goal is unrealistic. Either your current calorie intake is not high enough to support weight loss
      or you are trying to lose too much weight in too short a time.</p>
      
    <% else %>

      <p>The suggested daily calorie intake is -<ins><%= sprintf("%.1f" % @result) %></ins> calories of your current daily calorie intake.</p>
      <p>You are currently eating <ins><%= @cal %></ins> calories per day, you are suggested to eat <ins><%= sprintf("%.1f" % (@cal-@result)) %></ins>
      calories per day over the next <ins><%= @days %></ins> days to hit your target weight of <ins><%= @targ_weight %></ins> kg.</p>
      
    <% end %>
    
  <% end %>
  
<% end %>

<br><br>

<p style="font-size:160%">Imperial</p>

<%= form_tag(cal_imp_calorie_calc_index_path) do %>

  <div class="input_item"> 
      Current Calorie Intake(cal):</br> 
      <%= number_field_tag "cal", nil, min: 1, required: true %>
  </div>

  <div class="input_item"> 
      Current Weight(lb):</br> 
      <%= number_field_tag "curr", nil, min: 1, required: true %>
  </div>
  
  <div class="input_item"> 
      Target Weight(lb):</br> 
      <%= number_field_tag "targ", nil, min: 1, required: true %>
  </div>
  
  <div class="input_item"> 
      Number of Days:</br> 
      <%= number_field_tag "days", nil, min: 1, required: true %>
  </div>
  
  <div class="form_controls">
      <%= submit_tag 'Calculate' %>
  </div>

<% end %>

<br>

<% if @res_imp.blank? %>

<% else %>

  <% if @targ_weight >= @curr_weight %>
  
    <% if @res_imp-@cal > 3300 %>
    
      <p>That goal is unrealistic. You are trying to gain too much weight in too short a time.</p>
      
    <% else %>
    
    <p>The suggested daily calorie intake is +<ins><%= sprintf("%.1f" % @res_imp) %></ins> calories of your current daily calorie intake.</p>
    <p>You are currently eating <ins><%= @cal %></ins> calories per day, you are suggested to eat <ins><%= sprintf("%.1f" % (@cal+@res_imp)) %></ins>
    calories per day over the next <ins><%= @days %></ins> days to hit your target weight of <ins><%= @targ_weight %></ins> lb.</p>
    
    <% end %>
    
  <% else %>
  
    <% if @cal-@res_imp < 1100 %>
    
      <p>That goal is unrealistic. Either your current calorie intake is not high enough to support weight loss
      or you are trying to lose too much weight in too short a time.</p>
      
    <% else %>

      <p>The suggested daily calorie intake is -<ins><%= sprintf("%.1f" % @res_imp) %></ins> calories of your current daily calorie intake.</p>
      <p>You are currently eating <ins><%= @cal %></ins> calories per day, you are suggested to eat <ins><%= sprintf("%.1f" % (@cal-@res_imp)) %></ins>
      calories per day over the next <ins><%= @days %></ins> days to hit your target weight of <ins><%= @targ_weight %></ins> lb.</p>
      
    <% end %>
    
  <% end %>
  
<% end %>