<h1>Daily Calorie Intake Suggestion</h1>

<br><br>

<p style="font-size:160%">Disclaimer:</p>

<br><br>

<p style="font-size:160%">Metric</p>

<%= form_tag(calc_cal_calorie_calc_index_path) do %>

  <div class="input_item"> 
      Current Calorie Intake(cal):</br> 
      <%= text_field_tag "cal" %>
  </div>

  <div class="input_item"> 
      Current Weight(kg):</br> 
      <%= text_field_tag "curr" %>
  </div>
  
  <div class="input_item"> 
      Target Weight(kg):</br> 
      <%= text_field_tag "targ" %>
  </div>
  
  <div class="input_item"> 
      Number of Days:</br> 
      <%= text_field_tag "days" %>
  </div>
  
  <div class="form_controls">
      <%= submit_tag 'Calculate' %>
  </div>

<% end %>

<br>

<% if @result.blank? %>

<% else %>

  <% if @targ_weight >= @curr_weight %>
  
    <% if @result-@cal > 3300 %>
    
      <p>That goal is unrealistic. You are trying to gain too much weight in too short a time.</p>
      
    <% else %>
    
    <p>The suggested daily calorie intake is +<ins><%= @result %></ins> calories of your current daily calorie intake.</p>
    <p>You are currently eating <ins><%= @cal %></ins> calories per day, you are suggested to eat <ins><%= @cal+@result %></ins>
    calories per day over the next <ins><%= @days %></ins> days to hit your target weight of <ins><%= @targ_weight %></ins> kg.</p>
    
    <% end %>
    
  <% else %>
  
    <% if @cal-@result < 1100 %>
    
      <p>That goal is unrealistic. Either your current calorie intake is not high enough to support weight loss
      or you are trying to lose too much weight in too short a time.</p>
      
    <% else %>

      <p>The suggested daily calorie intake is -<ins><%= @result %></ins> calories of your current daily calorie intake.</p>
      <p>You are currently eating <ins><%= @cal %></ins> calories per day, you are suggested to eat <ins><%= @cal-@result %></ins>
      calories per day over the next <ins><%= @days %></ins> days to hit your target weight of <ins><%= @targ_weight %></ins> kg.</p>
      
    <% end %>
    
  <% end %>
  
<% end %>

<br><br>

<%= link_to 'Back', current_user %>

<br><br>