<%= form_for @user do |f| %>
  <div class="well">
    <div class="input_item"> 
      First Name:</br> 
      <%= f.text_field :first_name %> 
    </div>
    
    <div class="input_item"> 
      Last Name:</br> 
      <%= f.text_field :last_name %>
    </div>
    
    <div class="input_item"> 
      Birth:</br> 
      <%= f.date_select :birth, :start_year=>1900 %>
    </div>
    
    <div class="input_item"> 
      Gender:</br> 
      <%= f.select(:gender, [['Male',1],['Female',2],['Other',3]]) %>
    </div>
    
    <div class="form_controls">
      <%= f.submit 'Submit', name: "profile_update" %>
    </div>
  </div>
<% end %>