<h2>Account</h2>
<div>
  Email: <%= @user.email %>
</div>

<h2>Profile</h2>
<div>
  First Name: <%= @user.first_name %>
</div>

<div>
  Last Name: <%= @user.last_name %>
</div>

<div>
  Gender: <%= @user.gender_desc %>
</div>

<div>
  Birth: <%= @user.birth %>
</div>

<%= link_to "Edit", edit_user_path %>

<br><br>

<%= link_to "Track Weight", weights_path %>

<br>

<%= link_to "Calculate BMI", bmi_calc_index_path %>

<br>

<%= link_to "Calculate Daily Calorie Intake", calorie_calc_index_path %>