<%= form_for(@weight) do |f| %>
  <% if @weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weight.errors.count, "error") %> prohibited this weight from being saved:</h2>

      <ul>
      <% @weight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Weight %><br>
    <%= f.number_field :Weight %>
  </div>
  <div class="field">
    <%= f.label :Units %><br>
    <%= f.text_field :Units %>
  </div>
  <div class="field">
    <%= f.label :Date %><br>
    <%= f.datetime_select :Date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
