<% content_for :title do %>
  Track Weight
<% end %>

<%= form_for([@user, @user.weights.build]) do |f| %>
  <div class="field">
    <%= f.label :Weight %><br>
    <%= f.number_field :Weight, :value => @weight.Weight %>
  </div>
  <div class="field">
    <%= f.label :Units %><br>
    <%= f.text_field :Units, :value => @weight.Units %>
  </div>
  <div class="field">
    <%= f.label :Date %><br>
    <%= f.datetime_select :Date, :value => @weight.Date %>
  </div>
<% end %>
  
<% content_for :footer do %>
  <button class="btn btn-primary" onclick="submit_weight_form()">Submit</button>
<% end %>