<h1>Calculate Your Body Mass Index</h1>

<br><br>

<p style="font-size:160%">Metric</p>

<%= form_tag(calc_metric_bmi_calc_index_path) do %>

  <div class="input_item"> 
      Height(cm):</br> 
      <%= number_field_tag "heightinput", nil, min: 1, required: true  %>
  </div>
  
  <div class="input_item"> 
      Weight(kg):</br> 
      <%= number_field_tag "weightinput", nil, min: 1, required: true  %>
  </div>
  
  <div class="form_controls">
      <%= submit_tag 'Calculate' %>
  </div>
  
<% end %>

<br>

<% if @result.blank? %>

<% else %>

  <p>The calculated body mass index is: </p><%= @result %>
  
  <% if @result < 18.5 %>
    <p>You are currently underweight.</p>
  <% end %>
  <% if @result >= 18.5 and @result < 25%>
    <p>You are at a normal weight.</p>
  <% end %>
  <% if @result >= 25 and @result < 30%>
    <p>You are currently overweight.</p>
  <% end %>
  <% if @result >= 30%>
    <p>You are currently obese.</p>
  <% end %>

<% end %>

<br><br>

<p style="font-size:160%">Imperial</p>

<%= form_tag(calc_imp_bmi_calc_index_path) do %>

  <div class="input_item"> 
      Height(feet):</br> 
      <%= number_field_tag "heightfeet", nil, min: 1, required: true  %>
  </div>
  
  <div class="input_item"> 
      Height(inch):</br> 
      <%= number_field_tag "heightinch", nil, min: 1, required: true  %>
  </div>
  
  <div class="input_item"> 
      Weight(lb):</br> 
      <%= number_field_tag "weightlb", nil, min: 1, required: true  %>
  </div>
  
  <div class="form_controls">
      <%= submit_tag 'Calculate' %>
  </div>

<% end %>

<br>

<% if @imp.blank? %>

<% else %>

<p>The calculated body mass index is: </p><%= @imp %>

  <% if @imp < 18.5 %>
    <p>You are currently underweight.</p>
  <% end %>
  <% if @imp >= 18.5 and @imp < 25%>
    <p>You are at a normal weight.</p>
  <% end %>
  <% if @imp >= 25 and @imp < 30%>
    <p>You are currently overweight.</p>
  <% end %>
  <% if @imp >= 30%>
    <p>You are currently obese.</p>
  <% end %>
  
<% end %>

<br><br>

<%= link_to 'Back', current_user %>

<br><br>

<p style="font-size:160%">BMI Categories:</p><br>

<p>Underweight: BMI < 18.5</p>
<p>Normal weight: 18.5 =< BMI < 25<p>
<p>Overweight: 25 =< BMI < 30</p>
<p>Obesity: BMI >= 30</p>
