<h1>Calculate Your Body Mass Index</h1>

<br><br>

<p style="font-size:160%">Metric</p>

<%= form_tag(calculate_bmi_calc_index_path) do %>

  <div class="input_item"> 
      Height(cm):</br> 
      <%= text_field_tag "heightinput" %>
  </div>
  
  <div class="input_item"> 
      Weight(kg):</br> 
      <%= text_field_tag "weightinput" %>
  </div>
  
  <div class="form_controls">
      <%= submit_tag 'Calculate' %>
  </div>

<% end %>

<br>

<% if @result.blank? %>

<% else %>

  <p>The calculated body mass index is: </p><%= @result %>

<% end %>

<br><br>

<p style="font-size:160%">Imperial</p>

<%= form_tag(calc_imp_bmi_calc_index_path) do %>

  <div class="input_item"> 
      Height(feet):</br> 
      <%= text_field_tag "heightfeet" %>
  </div>
  
  <div class="input_item"> 
      Height(inch):</br> 
      <%= text_field_tag "heightinch" %>
  </div>
  
  <div class="input_item"> 
      Weight(lb):</br> 
      <%= text_field_tag "weightlb" %>
  </div>
  
  <div class="form_controls">
      <%= submit_tag 'Calculate' %>
  </div>

<% end %>

<br>

<% if @imp.blank? %>

<% else %>

  <p>The calculated body mass index is: </p><%= @imp %>

<% end %>

<br><br>

<%= link_to 'Back', current_user %>
