<h1>Listing Foods</h1>

<table border="1" style="width:100%">
  <thead>
    <tr>
      <th style="padding:10px">Name</th>
      <th style="padding:10px">Date</th>
      <th style="padding:10px">Serving</th>
      <th style="padding:10px">Category</th>
      <th style="padding:10px">User</th>
      <th style="padding:10px" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td style="padding:10px"><%= food.name %></td>
        <td style="padding:10px"><%= food.date %></td>
        <td style="padding:10px"><%= food.serving %></td>
        <td style="padding:10px"><%= food.category %></td>
        <td style="padding:10px"><%= food.user %></td>
        <td style="padding:10px"><%= link_to 'Show', food %></td>
        <td style="padding:10px"><%= link_to 'Edit', edit_user_food_path(params[:user_id], food) %></td>
        <td style="padding:10px"><%= link_to 'Destroy', user_food_path(params[:user_id], food), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
