<!DOCTYPE html>
<html lang="en">

  <style>
footer {
  position: absolute;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.01rem;
  background-color: #efefef ,opacity:0.9;
  
  text-align: center;
}



  </style>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Chomp" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin Slab" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if current_user %>
          <%= link_to "Chomp", home_path, {:class=>"navbar-brand"} %>
        <% else %>
          <%= link_to "Chomp", root_path, {:class=>"navbar-brand"} %>
        <% end %>
      </div>
    </div>
    
    <div class="container">
      
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        
        <div class="col-lg-3">
          <% if current_user %>
            <div class="user_window">
              
              <%= image_tag("profile.png", :alt => "Profile Picture") %>
                
              <div class="profile">
                <div class="name"><%= current_user.full_name %></div>
                <div class="controls">
                  <%= link_to "Profile", current_user, class: "btn btn-default btn-xs" %>
                  <%= link_to "Logout", logout_path, class: "btn btn-default btn-xs" %>
                </div>
              </div>
              
              <div id="tracking_box" class="track_list">
                <div class="track_item">
                  <div class="header">Calorie Count:</div>
                  <div class="details"><%= todays_calories %> kcal</div>
                </div>
                
                <% if todays_foods.any? %>
                <div class="track_item">
                  <div class="header">Today's Meals:</div>
                  <div class="details">
                    <% todays_foods.each do |x| %>
                      <div class="food_item">
                        <%= x["name"] %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <% end %>
                
                <% if current_weight.blank? %>
                  <!-- need to put button to track weights... -->
                <% else %>
                <div class="track_item">
                  <div class="header">Current Weight:</div>
                  <div class="details"><%= current_weight %></div>
                </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li><%= link_to "Login", login_path %></li>
                <li><%= link_to "Register", new_user_path %></li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>



    </div> <!-- /container -->
    <footer>
        <p>&copy; CHOMP 2015</p>
    </footer>
  </body>
</html>
