<%= form_for @account do |f| %>
  <div class="well">
    
    <div class="input_item"> 
      Email:</br> 
      <%= f.text_field :email %> 
    </div>
    
    <div class="input_item"> 
      Password:</br> 
      <%= f.password_field :password %>
    </div>
    
    <div class="input_item"> 
      Confirmation:</br> 
      <%= f.password_field :password_confirmation %>
    </div>
    
    <div class="form_controls">
      <%= f.submit 'Register' %>
    </div>
  </div>
<% end %>